<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446976641406-5hauli7cd1u9qt2i8jafss6nu9ak4o38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446976641406-5hauli7cd1u9qt2i8jafss6nu9ak4o38</string>
	<key>API_KEY</key>
	<string>AIzaSyCA6BpACdIzBvQA7k6wvz-kcu0auJDNTGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>446976641406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adriancysvillegas.The-Movie-DB-App</string>
	<key>PROJECT_ID</key>
	<string>the-moviedb-app</string>
	<key>STORAGE_BUCKET</key>
	<string>the-moviedb-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446976641406:ios:ef8d3244a5935fef3a4b2f</string>
</dict>
</plist>